.card {
  margin: 20px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
  border-radius: 6px;
}

.content-box {
  width: 100%;
}

.el-form {
  width: 100%;
  .text-center {
    text-align: center;
  }
}
